/****** Global Styles ******/
body {
    color: #5E5D5E;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.content-wrapper {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

/****** Header Styles ******/

.homepage-hero {
    background-image: url('../img/full-background.png');
    background-color: #f9efef;
    background-size: cover;
    background-position: center;
    height: 900px;
}

header h1 {
    float: left;
    width: 300px;
    color: #7B7E54;
    font-size: 30px;
    font-family: 'Lora', serif;
    padding: 65px 0 65px 25px;
}

 header nav {
    float: right;
    width: 800px;
    padding: 75px 25px 75px 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 18px;
    padding-left: 80px;
}

header h2 {
    float: left;
    width: 1000px;
    font-size: 72px;
    line-height: 80px;
    clear: both;
    font-family: 'Lora', serif;
    color: #817F80;
    padding: 20px 0 20px 25px;
}

/****** About Styles ******/

#about .content-wrapper {
    padding: 80px 0;
}

#about h2 {
    color: #817f80;
    font-size: 36px;
    font-family: 'Lora', serif;
    padding-bottom: 25px;
}

#about p {
    float: left;
    width: 500px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 40px;
}

/****** Skill Styles ******/

#skills {
    background-color: #f5f5f5;
}

#skills .content-wrapper {
    padding: 115px 0;
    text-align: center;
}

#skills h2 {
    font-size: 36px;
    font-family: 'Lora', serif;
}

.skill-list {
    float: left;
    width: 300px;
    padding: 40px 50px 0 50px;
}

.skill-list img {
    padding: 40px 0 30px 0;
}

.skill-list h3 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 36px;
}

.skill-list p {
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

/****** Contact Styles ******/

#contact {
    background-color: #f9e9e9;
}

#contact .content-wrapper {
    padding: 115px 0 115px 100px;
}

.contact-image {
    width: 500px;
    float: left;
}

#contact-img {
    height: 350px;
    width: 500px;
    border: 10px solid #ffffff;
    box-sizing: border-box;
    margin: 0 50px;
}

.contact-info {
    float: left;
    width: 50%;
    padding-left: 150px;
    box-sizing: border-box;
}

.contact-info h2 {
    padding-top: 30px;
    font-size: 36px;
    text-transform: capitalize;
}

#email-header {
    padding-bottom: 5px;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#socialmedia-header {
    margin: 20px 0 5px 0;
    font-weight: 300;
    font-size: 24px;
}

#envelope-img {
    padding-right: 10px;
}

#email-link {
    color: #5e5d53;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
}

.contact-info ul li {
    display: inline-block;
    padding-right: 25px;
    
}
