/****** Global Styles ******/
body {
    color: #5E5D5E;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.content-wrapper {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}







/****** Header Styles ******/

.homepage-hero {
    background-image: url('/img/full-background.png');
    background-color: #f9efef;
    background-size: cover;
    background-position: center;
    height: 900px;
}

header h1 {
    float: left;
    width: 300px;
    color: #7B7E54;
    font-size: 30px;
    font-family: 'Lora', serif;
    padding: 65px 0 65px 25px;
}

 header nav {
    float: right;
    width: 800px;
    padding: 75px 25px 75px 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 18px;
    padding-left: 80px;
}

header h2 {
    float: left;
    width: 1000px;
    font-size: 72px;
    line-height: 80px;
    clear: both;
    font-family: 'Lora', serif;
    color: #817F80;
    padding: 20px 0 20px 25px;
}



/****** About Styles ******/

#about .content-wrapper {
    padding: 80px 0;
}

#about h2 {
    color: #817f80;
    font-size: 36px;
    font-family: 'Lora', serif;
    padding-bottom: 25px;
}

#about p {
    float: left;
    width: 500px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 40px;
}





/****** Skill Styles ******/









/****** Contact Styles ******/